<tr class="bg-blue-600 border-b border-blue-400"  id="<%= dom_id service_type %>">
  <th scope="row" class="px-6 py-4 font-medium bg-blue-500 text-blue-50 whitespace-nowrap dark:text-blue-100">
    <%= service_type.name %>
  </th>
  <td class="px-6 py-4 flex justify-center">
    <%= link_to 'Edit', edit_service_type_path(service_type), class: "mx-2 rounded-lg py-1 px-2 bg-orange-500 font-medium text-white hover:underline" %>
  </td>
</tr>  