<!-- component -->
<div class="flex flex-row min-h-screen w-full bg-gray-100 text-gray-800">
    <%= render "layouts/header" %>

    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in h-screen overflow-auto">
      <div class="main-content flex flex-col flex-grow p-4">
        <div class="flex justify-center">
          <h1 class="font-bold text-2xl text-black my-auto">Clients</h1>
        </div>

        <div class="flex flex-col flex-grow border-4 border-gray-400 border-dashed bg-white rounded mt-4 p-5">

          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100">
                  <thead class="text-xs text-orange-400 uppercase bg-blue-600 border-b border-blue-400">
                      <tr>
                          <th scope="col" class="px-6 py-3">
                            Name
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Total Customers
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Actions
                          </th>
                      </tr>
                  </thead>
                  <tbody id="clients">
                    <%= render @clients %>
                  </tbody>
              </table>
            </div>

        </div>
      </div>
    </main>
  </div>