<div class="service"><%= @service.rate %></div>
<%= render "services/rate_form", service: @service %>

<script>
const f = document.querySelector('.service');
const rate_form = document.querySelector('#rate_form');

f.addEventListener('click', (e) => {
  rate_form.classList.remove("hidden");
  rate_form.classList.add("flex");
  f.classList.add("hidden");
});
</script> 
